$font: 'Vazie', tahoma;

//sizes
$radius: 1rem;

// colors
$primary-color: #3869FA;
$primary-color-50: #F0F1F5;
$primary-color-100: #E6ECFE;
$primary-color-200: #CDD9FE;
$secondary-color: #1B337A;

$border-color: #d0d0d0;

$black: #000000;
$black-100: #1a1a1a;
$black-200: #333333;
$black-300: #4d4d4d;
$black-400: #666666;
$black-500: #808080;
$black-600: #999999;
$black-700: #b3b3b3;
$black-800: #cccccc;
$black-900: #e6e6e6;
