.OTP {
  direction: ltr;

  .otp-input-container {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;

    > div {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  &__input {
    width: 56px;
    height: 56px !important;
    text-align: center;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: 1rem;

  }
}


